.row-skills{
    margin-top: 100px;
    padding: 20px 0px;
    margin-bottom: 100px;
}
.col-skills{
    width: 23%;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: rgb(248, 248, 248);
    width: 45%;
    height: 110%;
    color: black;
}

.card:hover{
    box-shadow: 2px 2px 1px 1px rgb(155, 155, 155);
    scale: 1.1;
    transition: 0.4s ease;
}

.icon{
    width: 70%;
    height: 80%;
}

@media (max-width: 768px) {
    .col-skills{
        box-sizing: border-box;
        width: 50%;
    }
    .card{
        width: 40%;
        height: 8vh;
    }
}

@media (max-width: 500px) {
    .col-skills{
        box-sizing: border-box;
        width: 50%;
    }
    .card{
        width: 40%;
        height: 8vh;
    }
}

@media (max-width: 414px) {
    .col-skills{
        box-sizing: border-box;
        width: 50%;
        padding: 0;
    }
    .card{
        width: 50%;
        height: 11vh;
    }
    .row-skills{
        margin-top: 30px;
        margin-bottom: 20px;
    }
}
.html{
    color: #ee6400;
}
.react{
    color: #43d7ff
}
.angular{
    color: rgba(255, 0, 0, 0.733);
}
.node{
    color: #3cba82
}
.css{
    color: #3cb9ff;
}
.js{
    color: #f3db02;
}