.row-skills{
    padding: 20px 0px;
    width: 90%;
    background-color: #0e2747;
    border-radius: 30px;
}
.col-skills{
    width: 23%;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    width: 45%;
    height: 110%;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.card img{
    max-width: 120px;
    max-height: 120px;
    object-fit: cover;
}

.card:hover{
    scale: 1.1;
    transition: 0.4s ease;
}

@media (max-width: 768px) {
    .col-skills{
        box-sizing: border-box;
        width: 50%;
    }
    .card{
        width: 40%;
    }
    .row-skills{
        background-color: transparent;
    }
}

@media (max-width: 480px) {
    .col-skills{
        box-sizing: border-box;
        width: 50%;
        padding: 0;
        flex-wrap: wrap;
    }
    .card{
        width: 50%;
        height: 11vh;
    }
    .row-skills{
        padding: 0;
    }
    .card img{
        max-width: 80px;
        max-height: 80px;
        object-fit: cover;
    }
}
.html{
    color: #ee6400;
}
.react{
    color: #43d7ff
}
.angular{
    color: rgba(255, 0, 0, 0.733);
}
.node{
    color: #3cba82
}
.css{
    color: #3cb9ff;
}
.js{
    color: #f3db02;
}