.row-about{
    flex-wrap: nowrap;
    height: 100vh;
    align-items: center;
}
.col-photo{
    width: 30%;
    height: 70%;
    align-items: center;
}

.col-photo img{
    max-width: 100%;
    max-height: 80%;
    object-fit: cover;
    border-radius: 10%;
}
.about{
    width: 70%;
    height: 70%;
    flex-wrap: wrap;
    line-height: 2;
    text-align: justify;
    padding: 30px;
    align-items: center;
}

.about div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 60%;
}
.about h1{
    margin: 0;
}

@media (max-width: 768px) {
    .row-about{
        flex-direction: column;
    }
    .col-photo{
        margin: 200px 0px 0px 0px;
        padding: 0;
        width: 50%;
        height: 45%;
    }
    .about{
        align-items: flex-start;
    }

}

@media (max-width: 480px) {
    .row-about{
        flex-wrap: wrap;
        margin: 0;
        margin-top: 70px;
    }
    .col-photo{
        /* width: 0%; */
        display: none;
    }
    .about{
        box-sizing: border-box;
        width: 100%;
        padding-top: 30px;
    }
    .about h1{
        margin-bottom: 30px;
    }
    /* .col-photo img{
        height: 400px;
        width: 350px;    
    } */
}
